.App {
  background-image: url(https://www.publicdomainpictures.net/pictures/250000/nahled/dog-cartoon-cute-background.jpg);
  min-height: 100vh;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.search__label,
.search__input {
  padding: 5px 20px;
}

.search__label {
  color: #4C4C4C;
  font-size: 36px;
}

.search__input {
  outline: none;
  border: 3px solid #AFD2E1;
  color: #AFD2E1;
  width: 200px;
  font-size: 36px;
}

.search__button {
  padding: 5px 20px;
  background-color: #AFD2E1;
  outline: none;
  border: 3px solid #AFD2E1;
  color: white;
  font-size: 36px;
}

.doggies-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.doggies-list li,
.favourite-doggies__list li {
  list-style: none;
  position: relative;
}

.doggies-list img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
  left: 50%;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #F85F85;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #F85F85;
}

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

.doggie__heart {
  font-size: 36px;
  color: #F85F85;
  position: absolute;
  top: 15px;
  left: 15px;
}

.data-error {
  color: #4C4C4C;
  font-size: 36px;
  text-align: center;
}

.favourite-doggies__list {
  padding: 20px;
}

.favourite-doggies__list img {
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.doggie__heart--liked {
  color: red;
}

.doggies-wrapper {
  display: flex;
}