.search--wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.search__label,
.search__input {
  padding: 5px 20px;
}

.search__label {
  color: #4C4C4C;
  font-size: 36px;
}

.search__input {
  outline: none;
  border: 3px solid #AFD2E1;
  color: #AFD2E1;
  width: 200px;
  font-size: 36px;
}

.search__button {
  padding: 5px 20px;
  background-color: #AFD2E1;
  outline: none;
  border: none;
  color: white;
  font-size: 36px;
}

.doggies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.doggies-list li {
  list-style: none;
}

.doggies-list img {
  height: 300px;
  width: 400px
}